@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --linear-grad: linear-gradient(to right, #141E30, #243B55);
  --grad-clr1: #141E30;
  --grad-clr2: #243B55;
}

body {
  height: 100vh;
	margin: 0;
	font-family: "SF Pro Display", SF Pro Icons, Helvetica Neue, Helvetica, Arial,
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #000;
	color: #f5f5f7;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #f5f5f5;
}
body::-webkit-scrollbar {
	width: 12px;
	background-color: #aaaaaa;
}
body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #555;
}
.home-screen {
	background-color: #0d0c11;
}
.navbar .navbar-brand {
	font-size: 2.5rem;
	padding: 1em 1.5em;
	font-weight: bold;
	line-height: 0;
	background: linear-gradient(to bottom, #f9daff, #420369);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
}
.navbar-nav {
	margin: 15px 15em 0 0;
}
.navbar .nav-item .nav-link {
	color: rgb(206, 206, 206);
	font-size: 16px;
	padding-right: 3em;
}
.navbar .btn {
	border-radius: 50%;
	padding: 0;
	height: 30px;
	width: 30px;
}
.nav-icons {
	padding-top: 10px;
}
.nav-icons span {
	padding: 0 40px 0 0;
	font-size: 25px;
}

@media (max-width: 480px) {
	.navbar .navbar-brand {
		font-size: 1.2rem;
		padding: 1em;
	}
	.navbar .nav-item {
		margin-top: 0;
	}
	.navbar .nav-item .nav-link {
		font-size: 11px;
		margin-left: 2em;
	}
	.navbar .btn {
		height: 18px;
		width: 18px;
	}
	.nav-icons {
		padding-top: 0;
		margin-left: 1em;
	}
	.nav-icons span {
		padding: 0 3px;
		font-size: 15px;
	}
	.navbar .btn .btn-icon {
		font-size: 10px;
	}
	.navbar-toggler {
		width: 28px;
		height: 25px;
		margin-right: 20px;
		padding: 0 0 10px;
		background-color: rgb(63, 63, 63);
	}
	.navbar-toggler span {
		width: 15px;
		height: 15px;
	}
}
.slide-container {
	width: 100%;
	height: 80vh;
	/* max-height: 500px;  */
}
.slide-container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.75);
	z-index: 1;
}
.slide-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.slide-info {
	position: absolute;
	top: 12em;
	left: 5em;
	width: 100%;
	height: 100%;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 20px;
}
.slide-info h2 {
	font-size: 50px;
}
.slide-info .slide-desc {
	width: 40em;
}
.slide-text {
	font-size: 24px;
	font-weight: bold;
}
.slide-detail {
	display: flex;
	gap: 4px;
}
.slide-detail span {
	color: red;
}
.buttons {
	display: flex;
}
.buttons button {
	margin: 30px 20px 0;
	border-radius: 40px;
	padding: 10px 38px;
	display: flex;
	justify-content: center;
	background-color: #000;
	gap: 10px;
	font-size: 16px;
	border: none;
}
.buttons button .icon {
	font-size: 13px;
	margin-bottom: 3px;
}
.buttons .btn-primary {
	background-color: #ad64d0;
	transition: all 0.3s ease;
	box-shadow: 0 4px 17px 9px rgba(173, 100, 208, 0.4) !important;
}
.buttons .btn-primary:hover {
	transform: translateY(-4px);
}
.buttons .btn-success:hover {
	background-color: #000 !important;
}
.swiper-pagination-bullet {
	margin: 0 8px !important;
	margin-bottom: 20px !important;
	width: 45px !important;
	height: 3px !important;
	background-color: rgba(255, 255, 255, 0.6) !important;
	border-radius: 10px !important;
	transition: background-color 0.3s, transform 0.3s !important;
}
.swiper-pagination-bullet-active {
	background-color: rgb(241, 241, 241) !important;
}
.home-content-three {
	margin-top: 5em;
}
.genre {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 50px;
	margin: 2em 0;
}
.genre-item {
	padding: 5px 30px;
	font-size: 18px;
	border-radius: 20px;
	background-color: #17161b;
	cursor: pointer;
}
.genre-item.selected {
	background: linear-gradient(to bottom, #f0c1fa, #420369);
}
.collection {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 130px;
	margin: 2em 10em;
	border-bottom: 1px solid rgb(65, 64, 64);
}
.collection-item {
	display: flex;
	position: relative;
	padding: 5px 30px;
	font-size: 18px;
	border-radius: 20px;
	cursor: pointer;
	color: #5e5e5e;
}
.collection-item span {
	font-size: 16px;
	padding-right: 5px;
}
.collection-item.selected {
	color: white;
	font-size: 20px;
}
.collection-item.selected::after {
	content: "";
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	width: 7px;
	height: 7px;
	background-color: #ad64d0;
	border-radius: 50%;
}
.swiper-button-prev,
.swiper-button-next {
	color: white;
	font-size: 18px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
}
.swiper-button-prev {
	left: 10px;
}
.swiper-button-next {
	right: 10px;
}
.movie-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 231px;
	height: 325px;
	margin: 10px 3em;
	border-radius: 20px;
}
.movie-image {
	width: 100%;
	height: 100%;
	border-radius: 2px;
	object-fit: cover;
}
.movie-container .movie-text {
	margin: 10px;
	font-size: 16px;
	color: #ffffff;
}
.home-content-four {
	display: grid;
	grid-template-columns: repeat(6, 1fr); 
	grid-gap: 20px;
	padding: 20px 40px;
}
.show-container {
	display: flex;
	flex-direction: column;
	align-items: start;
  margin-bottom: 60px;
}
.show-image {
	width: 100%; 
	border-radius: 2px;
}
.show-text {
	margin-top: 10px;
	color: #fff; 
	font-size: 16px;
  margin-bottom: 5px;
}
.show-description{
  width: 100%;
  font-size: 12px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.show-description-detail{
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.filtering{
  margin: 20px 5em;
  display: flex;
  justify-content: space-between;
}
.filter-left {
  display: flex;
  align-items: start;
  gap: 40px;
}
.filter-left select {
  padding: 10px ;
  color: white;
  border-radius: 50px;
  border: none;
  background-color: #17161B;
}
.filter-left p {
  font-size: 18px;
  color: rgb(131, 131, 131);
}
.filter-left span {
  font-size: 16px;
  padding: 6px 30px;
  border-radius: 50px;
	background: linear-gradient(to bottom, #f0c1fa, #420369);
}
.rating-slider{
  display: flex;
  align-items: center;
}
.rating-slider p{
  font-size: 15px;
  margin:  3px 0 0 10px;
}
.rating-slider input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  margin-left: 10px;
  margin-top: 3px;
  width: 100%;
  height: 6px;
  background: linear-gradient(
    to right,
    yellow 0%,
    yellow calc(100% * var(--value)/9),
    white calc(100% * var(--value)/9),
    white 100%
  );
  border-radius: 5px;
  outline: none;
}
.rating-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: yellow; 
  border-radius: 50%;
  cursor: pointer;
}
.rating-slider input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: yellow; 
  border-radius: 50%;
  cursor: pointer;
}
.rating-slider input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: yellow; 
  border-radius: 50%;
  cursor: pointer;
}
.footer {
  color: #b3b3b3; 
  padding: 60px 80px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.footer-column {
  flex: 1 200px;
  margin: 10px;
}
.footer-title {
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff; 
}
.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-link {
  margin-bottom: 12px;
  cursor: pointer;
  transition: color 0.3s;
}
.footer-link:hover {
  color: #fff; 
}
.footer-language{
  background-color: transparent;
  border: 1px solid #858585;
  color: #b3b3b3;
  width: 9.2em;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}
.language-button {
  background-color: transparent;
  border: none;
  color: #b3b3b3;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}
.language-button option{
  display: flex;
  align-items: center;
}

/* ////////////////////sign page ui */
.sign-screen{
  height: 100vh;
  display: grid;
  place-content: center;
}
.sign-screen .container{
  position: relative;
  width: 890px;
  height: 500px;
  background-color: white;
  box-shadow: 25px 30px 55px #5557;
  border-radius: 13px;
  overflow: hidden;
}
.sign-screen .container .form-container{
  position: absolute;
  width: 60%;
  height: 100%;
  padding: 0 40px;
  transition: all 0.6s ease-in-out;
}
.sign-up-container{
  opacity: 0;
  z-index: 2;
}
.sign-in-container{
  z-index: 3;
}
.sign-screen .container .form-container form{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}
.sign-screen .container .form-container  form h1{
  color: var( --grad-clr1);
}
.sign-screen .container .social-container{
  margin: 20px 0;
}
.sign-screen .container .social-container a{
  border: 1px solid #DDD;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
.sign-screen .form-container form span{
  color: black;
  font-size: 12px;
}
.form-container .infield{
  position: relative;
  margin: 10px 0;
  max-width: 8px 0px;
  width: 100%;
}
.form-container .infield input{
  width: 100%;
  padding: 12px 15px;
  background-color: #f3f3f3;
  border: none;
  outline: none;
}
.form-container .infield label{
  position: absolute;
  left: 50%;
  bottom: 0;
  top: 100%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background: var(--linear-grad);
  transition: width 0.3s ease;
}
.form-container .infield input:focus ~ label {
  width: 100%; 
}
.sign-screen .form-container form a{
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 2px 0;
  margin-top: 30px;
}
.sign-screen .form-container form a.forgot{
  padding-bottom: 3px;
  border-bottom: 2px solid #EEE;
}
.sign-screen .container button{
  border-radius: 20px;
  border: 1px solid var(--grad-clr1);
  background-color: var(--grad-clr2);
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.sign-screen .form-container button{
  margin-top: 17px;
  transition: 80ms ease-in;
}
.sign-screen .form-container button:hover{
  background-color: #fff;
  color: var(--grad-clr1);
}
.sign-screen .overlay-container{
  position: absolute;
  top: 0;
  left: 60%;
  width: 40%; 
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 10;
}
.sign-screen .overlay-container .overlay{
  position: relative;
  background-image: url('./assets/foundation.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  color: #FFF;
  left: -150%;
  height: 100%;
  width: 250%;
  transition: transform 0.6s ease-in-out;
  z-index: 0;
}
.sign-screen .overlay-container .overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.sign-screen .overlay-container #overlayBtn{
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 304px;
  transform: translateX(-50%);
  width: 143.67px;
  height: 40px;
  border: 1px solid #FFF;
  background: transparent;
  border-radius: 20px;
  z-index: 11;
}
.sign-screen .overlay-container .overlay .overlay-panel{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 36px;
  text-align: center;
  height: 100%;
  width: 340px;
  z-index: 5;
  transition: 0.6s ease-in-out;
}
.sign-screen .overlay-container .overlay .overlay-left{
  right: 60%;
  transform: translateX(-12%);
}
.sign-screen .overlay-container .overlay .overlay-right{
  right:0;
  transform: translateX(0%);
}
.sign-screen  .overlay-container .overlay .overlay-panel p {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 25px 0 25px;
}
.sign-screen .overlay-container .overlay .overlay-panel button{
  border: none;
  background-color: transparent;
}
.sign-screen .right-panel-active .overlay-container{
  transform: translateX(-150%);
}
.sign-screen .right-panel-active .overlay-container .overlay{
  transform: translateX(50%);
}
.sign-screen .right-panel-active .overlay-container .overlay .overlay-left{
  transform: translateX(25%);
}
.sign-screen .right-panel-active .overlay-container .overlay .overlay-right{
  transform: translateX(35%);
}
.sign-screen .right-panel-active .sign-in-container{
  transform: translateX(20%);
  opacity: 0;
}
.sign-screen .right-panel-active .sign-up-container{
  transform: translateX(66.7%);
  opacity: 1;
  z-index: 5;
  animation: show o.6s;
}
@keyframes show{
  0%, 50%{
    opacity: 0;
    z-index: 1;
  }
  50.1%, 100%{
    opacity: 1;
    z-index: 5;
  }
}